@(service: model.ServiceDescription)

@main("Cyclops") {

<div class="container">

    <div class="starter-template">
        <h1>Zazu service updated</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Service id</th>
                <th>Msisdn</th>
                <th>Current state</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@{service.id}</td>
                    <td>@{service.msisdn}</td>
                    <td>@{service.state}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Change state
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                                <li><a href="/zazu/@{service.id}?new-state=ACTIVE">ACTIVE</a></li>
                                <li><a href="/zazu/@{service.id}?new-state=INACTIVE">INACTIVE</a></li>
                                <li><a href="/zazu/@{service.id}?new-state=CEASED">CEASED</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

}
